html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  padding: 2rem;
  display: grid;
  gap: 1.2rem;
  align-items: center;
  justify-items: stretch;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.btn-all {
  max-width: 100%;
  height: 40rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  row-gap: 4rem;
}

button {
  background-color: aliceblue;
  border: 0.1rem solid gray;
  border-radius: 1rem;
  padding: 1.2rem;
  cursor: pointer;

  transition: all 0.4s ease-in-out;
}

button:hover {
  transform: scale(1.08);
}

.modelContainer {
  display: flex;
  flex-direction: row-reverse;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
  right: 2rem;
}

.description-text {
  width: 30rem;
  background-color: aliceblue;
  padding: 1.2rem;
  border-radius: 2rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 1.6rem;
}
